@charset "UTF-8";
html, body {
    font-family: Helvetica, "microsoft yahei";
    background: #f5f5f5;
    font-size: 10px
}

body {
    position: relative;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch
}

html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, abbr, article, aside, command, details, figcaption, figure, footer, header, hgroup, mark, meter, nav, output, progress, section, summary, time, button {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, th, figcaption {
    font-weight: normal;
    font-style: normal
}

ul, li, dl, dt, dd {
    list-style: none
}

fieldset, iframe, img {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

article, aside, footer, header, hgroup, nav, section, figure, figcaption, video {
    display: block
}

a {
    text-decoration: none;
    color: #333
}

input, select {
    outline: 0;
    border: 0
}

input[type="text"] {
    background-position-y: -1px
}

i, cite, em, var, address {
    font-style: normal
}

a {
    outline: 0
}

a:active {
    outline: 0
}

* {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0)
}

b, strong {
    font-weight: bold
}

.clearfix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.clearfix {
    zoom: 1
}

@media screen and (max-device-width: 320px) {
    body {
        -webkit-text-size-adjust: none
    }
}

@media screen and (max-device-width: 480px) {
    body {
        -webkit-text-size-adjust: none
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    body {
        -webkit-text-size-adjust: none
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        -webkit-text-size-adjust: none
    }
}

.base-bgcolor {
    background: #d91819
}

.base-fontcolor {
    color: #d91819
}

.text-nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.prevent-bold {
    transition: -webkit-transform 0ms;
    -webkit-transform-origin: 0 0;
    -webkit-transform: translate(0px, 0px) translateZ(0px)
}

.pubilc-over-mask {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 1000000;
    top: 0;
    left: 0;
    display: none;
    -webkit-box-pack: center;
    -webkit-box-align: center
}

input::-webkit-input-placeholder {
    color: #999
}

.public-module {
    border-bottom: 1px solid #ebebeb
}

.public-module-title {
    position: relative;
    height: 15px;
    background: #f5f5f5;
    border-bottom: 1px solid #ebebeb;
    padding: 17px 10px 13px 10px;
    font-size: 0
}

.public-module-title p {
    position: relative;
    color: #333;
    height: 15px;
    font-size: 1.5rem;
    line-height: 15px
}

.public-title-icon {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    height: 14px;
    width: 2px;
    vertical-align: bottom
}

.public-module-more {
    position: relative;
    display: block;
    height: 16px;
    background: #fafafa;
    border-top: 1px solid #ebebeb;
    padding: 13px 10px;
    font-size: 1.6rem;
    text-align: center;
    color: #d91819;
    line-height: 16px
}

.public-module-more:hover {
    background: #d6d6d6
}

.public-more-group {
    position: relative
}

.public-more-group .public-module-more {
    display: none
}

.public-more-group .public-module-more:first-child {
    display: block
}

.public-more-icon1, .public-more-icon2 {
    display: inline-block;
    height: 14px;
    width: 13px;
    background-image: url(http://simg.f.itc.cn/static_files/wap/mobile/recreate/images/index/house_index_icons_02182ed9b14f35c164ce2ff623600f2d.png);
    background-repeat: no-repeat;
    background-size: 120px 250px;
    background-position: 0 -32px;
    vertical-align: bottom;
    margin: 0 10px
}

.public-more-icon2 {
    background-position: -50px -35px
}

.public-module-tab {
    position: relative;
    height: 41px;
    padding: 0 10px;
    border-bottom: 1px solid #ebebeb;
    background: #fff
}

.public-module-tab-box {
    display: -webkit-box;
    display: -moz-box;
    display: box
}

.public-module-tab-box .item {
    display: block;
    height: 41px;
    width: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    font-size: 1.6rem;
    color: #999;
    text-align: center;
    line-height: 41px;
    border-radius: 4px 4px 0 0
}

.public-module-tab-box .active {
    color: #d91819;
    border-bottom: 2px solid #d91819
}

.pubilc-move-tab {
    position: relative;
    height: 6px;
    padding-bottom: 18px;
    padding-top: 6px;
    text-align: center;
    font-size: 0
}

.pubilc-move-tab2 {
    padding-bottom: 13px;
    padding-top: 8px
}

.pubilc-move-tab li {
    position: relative;
    margin-right: 5px;
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #ccc;
    border-radius: 100%
}

.pubilc-move-tab li:last-child {
    margin-right: 0
}

.pubilc-move-tab .active {
    background: #d91819
}

.public-module-box {
    position: relative;
    padding: 0 10px;
    background: #fff
}

.public-module-box .show {
    display: block
}

.public-module-moreBtn {
    position: relative;
    display: inline-block;
    float: right;
    color: #999;
    height: 14px;
    line-height: 14px;
    font-size: 1.3rem
}

.public-module-moreBtn .icon {
    display: inline-block;
    width: 7px;
    height: 14px;
    background-image: url(http://simg.f.itc.cn/static_files/wap/mobile/recreate/images/index/house_index_icons_02182ed9b14f35c164ce2ff623600f2d.png);
    background-repeat: no-repeat;
    background-size: 120px 250px;
    background-position: 0 -60px;
    right: 0;
    margin-left: 5px;
    margin-top: 1px;
    vertical-align: top
}

.public-back-home {
    display: none;
    position: fixed;
    left: 10px;
    bottom: 70px;
    width: 36px;
    height: 36px;
    background-image: url(http://simg.f.itc.cn/static_files/wap/mobile/recreate/images/base/go2home_2ee0c9e3249dd2add4b1f1710e5cd826.png);
    background-repeat: no-repeat;
    background-size: 36px 36px
}

.public-bottom-nav {
    position: relative;
    margin-top: 18px;
    height: 39px;
    background: #fff;
    border-top: 1px solid #ebebeb;
    padding: 0 0 0 10px;
    overflow: hidden
}

.public-bottom-nav-list {
    position: relative;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 50px
}

.public-bottom-nav ul {
    position: absolute;
    left: 0;
    font-size: 0;
    white-space: nowrap
}

.public-bottom-nav li {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 42px;
    color: #999;
    text-align: center;
    margin-right: 20px
}

.public-bottom-nav li:last-child {
    margin-right: 0
}

.public-bottom-nav .item {
    display: block;
    color: #999
}

footer {
    position: relative;
    height: 50px;
    background: #999;
    padding: 0 10px
}

.footer-nav {
    position: relative;
    padding: 8px 0;
    height: 14px;
    font-size: 14px;
    color: #fffefe;
    margin-bottom: 2px
}

.footer-link {
    position: relative;
    float: left
}

.footer-link .icon {
    display: inline-block;
    width: 13px;
    height: 7px;
    background: #950d16;
    margin-left: 5px;
    vertical-align: middle;
    background: url(http://simg.f.itc.cn/static_files/wapimages/index/index_bg08_down_ab65258ddd99329a80d9173642796d59.png) no-repeat;
    background-size: 13px 7px;
    margin-bottom: 4px
}

.footer-os {
    position: relative;
    float: right;
    font-size: 0
}

.footer-os .item {
    position: relative;
    font-size: 14px;
    color: inherit;
    display: inline-block;
    margin-left: 15px
}

.footer-os .active:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    left: 0;
    top: -8px;
    left: 50%;
    margin-left: -3px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #fff
}

.footer-company {
    color: #333;
    height: 10px;
    line-height: 10px;
    font-size: 10px;
    text-align: center
}

.pubilc-back-top {
    position: fixed;
    width: 48px;
    height: 48px;
    right: 10px;
    bottom: 70px;
    background: url(http://simg.f.itc.cn/static_files/wapimages/base/go2top_6c300ca2d217660dc9fd6d3828d21e69.png) no-repeat;
    background-size: 48px 48px;
    z-index: 200;
    display: none
}

.public-bread {
    height: 40px;
    line-height: 40px;
    padding-right: 10px;
    font-size: 13px;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.public-bread-link {
    display: inline-block;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    color: #999
}

.public-bread-current {
    padding-left: 10px;
    color: #333
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    -webkit-transition-property: -webkit-transform, left, top;
    -webkit-transition-duration: 0s;
    -webkit-transform: translate3d(0px, 0, 0);
    -webkit-transition-timing-function: ease;
    -moz-transition-property: -moz-transform, left, top;
    -moz-transition-duration: 0s;
    -moz-transform: translate3d(0px, 0, 0);
    -moz-transition-timing-function: ease;
    -o-transition-property: -o-transform, left, top;
    -o-transition-duration: 0s;
    -o-transform: translate3d(0px, 0, 0);
    -o-transition-timing-function: ease;
    -o-transform: translate(0px, 0px);
    -ms-transition-property: -ms-transform, left, top;
    -ms-transition-duration: 0s;
    -ms-transform: translate3d(0px, 0, 0);
    -ms-transition-timing-function: ease;
    transition-property: transform, left, top;
    transition-duration: 0s;
    transform: translate3d(0px, 0, 0);
    transition-timing-function: ease;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.swiper-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-slide {
    float: left;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

body {
    position: relative
}

.public-header {
    position: relative;
    padding: 0 95px;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    background-color: #FFF;
    text-align: center;
    z-index: 21;
    border-bottom: 1px solid #DDD
}

.public-header-city {
    display: -webkit-box;
    padding: 8px 10px
}

.public-header .public-header-title {
    display: inline-block;
    width: 100%;
    line-height: 44px;
    font-size: 20px;
    color: #d91819;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.public-header .public-header-icon {
    position: absolute;
    display: block;
    top: 8px;
    width: 28px;
    height: 28px;
    background: url(http://simg.f.itc.cn/static_files/wap/mobile/recreate/images/base/public-header-new_075df709117babcd544a7753e6ea7960.png) no-repeat;
    background-size: 100px 100px
}

.public-header .public-header-position-0 {
    left: 10px
}

.public-header .public-header-position-1 {
    right: 86px
}

.public-header .public-header-position-2 {
    right: 48px
}

.public-header .public-header-position-3 {
    right: 10px
}

.public-header .public-header-back {
    background-position: 0 0
}

.public-header .public-header-search {
    background-position: -30px 0
}

.public-header .public-header-user {
    background-position: -60px 0
}

.public-header .public-header-menu {
    background-position: 0 -30px
}

.public-header .public-header-collect {
    background-position: -30px -30px
}

.public-header .public-has-collected-false {
    background-position: -30px -30px
}

.public-header .public-has-collected-true {
    background-position: 0 -60px
}

.public-header .public-header-share {
    background-position: -60px -30px
}

.public-header .public-header-location {
    background-position: -30px -60px
}

.public-header .public-header-menu-touched {
    background: url(http://simg.f.itc.cn/static_files/wap/mobile/recreate/images/base/menu_touched_769df554a1ebc25f1c81af7c1cae6b00.png) no-repeat;
    background-size: 28px 28px;
    background-position: 0 0
}

.public-header .public-header-logo {
    position: absolute;
    top: 8px;
    left: 10px;
    display: block;
    width: 85px;
    height: 24px;
    background: url(http://simg.f.itc.cn/static_files/wap/mobile/recreate/images/base/focus-logo_e005a3c0f0742915ed493a5343a359fe.png) no-repeat;
    background-size: 85px 24px
}

.public-header-popup {
    display: none;
    z-index: 20;
    position: absolute;
    left: 0;
    top: 44px;
    width: 100%
}

.public-header-popup .public-index-label {
    position: relative;
    padding: 17px 10px 15px 17px;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    color: #333;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e3e3e3
}

.public-header-popup .public-index-label .title-redline {
    position: absolute;
    display: block;
    left: 10px;
    top: 17px;
    width: 2px;
    height: 15px;
    background-color: #d91819
}

.public-header-popup .header-pupup-nav {
    border-bottom: 1px solid #e3e3e3;
    background-color: #FFF
}

.public-header-popup .header-pupup-subnav {
    padding: 0 10px
}

.public-header-popup .header-pupup-subnav .subnav-list {
    display: -webkit-box;
    padding: 6px 0;
    background-color: #FFF;
    border-bottom: 1px solid #e4e4e4
}

.public-header-popup .header-pupup-subnav .subnav-list .item-col-2 {
    width: 30px;
    overflow: visible;
    white-space: nowrap
}

.public-header-popup .header-pupup-subnav .subnav-list .item-col-3 {
    width: 45px;
    overflow: visible;
    white-space: nowrap
}

.public-header-popup .header-pupup-subnav .subnav-list .item-col-4 {
    width: 60px;
    overflow: visible;
    white-space: nowrap
}

.public-header-popup .header-pupup-subnav .subnav-list .item-col-5 {
    width: 45px;
    overflow: visible;
    white-space: nowrap
}

.public-header-popup .header-pupup-subnav .subnav-list .fixed-blank-col {
    width: 27px;
    height: 100%
}

.public-header-popup .header-pupup-subnav .subnav-list .blank-col {
    display: block;
    -webkit-box-flex: 1;
    width: 0
}

.public-header-popup .header-pupup-subnav .subnav-list .blank-p, .public-header-popup .header-pupup-subnav .subnav-list .subnav-item, .public-header-popup .header-pupup-subnav .subnav-list .label-link {
    display: block;
    line-height: 33px;
    height: 33px;
    font-size: 15px;
    color: #333
}

.public-header-popup .header-pupup-subnav .subnav-list .label-link {
    color: #D33
}

.public-header-popup .last-pupup-subnav .subnav-list {
    border-bottom: 0
}

.public-header-popup .subnav-list .item-col-left {
    width: 50px
}

.public-header-popup .subnav-list .item-col-right {
    -webkit-box-flex: 1
}

.public-header-popup .subnav-list .item-row {
    display: -webkit-box
}

.public-header-popup .subnav-list .row-item {
    display: block;
    width: 0;
    font-size: 15px;
    height: 33px;
    line-height: 33px;
    color: #333
}

.public-header-popup .subnav-list .row-item:nth-child(1) {
    -webkit-box-flex: 1
}

.public-header-popup .subnav-list .row-item:nth-child(2) {
    -webkit-box-flex: 1
}

.public-header-popup .subnav-list .row-item:nth-child(3) {
    -webkit-box-flex: 1
}

.public-header-popup .subnav-list .row-item:last-child {
    width: 60px;
    text-align: right
}

.public-header-popup .header-popup-download {
    padding: 0 10px;
    background-color: #FFF
}

.public-header-popup .header-popup-download .app-list {
    display: -webkit-box;
    border-bottom: 1px solid #e4e4e4
}

.public-header-popup .header-popup-download .app-list:last-child {
    border-bottom: 0
}

.public-header-popup .header-popup-download .app-item {
    display: block;
    -webkit-box-flex: 1;
    width: 0;
    padding: 15px 0 15px 13px
}

.public-header-popup .header-popup-download .first-item {
    padding: 15px 0 15px 0
}

.public-header-popup .header-popup-download .app-item img {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto
}

.public-header-popup .header-popup-download .app-item p {
    position: relative;
    padding-left: 28px;
    font-size: 14px;
    line-height: 21px;
    color: #333;
    text-align: left;
    border-right: 1px solid #e4e4e4
}

.public-header-popup .header-popup-download .last-item p {
    border-right: 0
}

.public-header-popup .header-popup-download .app-item:nth-child(3) {
    border-right: 0
}

.public-header-popup .header-popup-download .app-item span {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 21px;
    height: 21px;
    background: url(http://simg.f.itc.cn/static_files/wap/mobile/recreate/images/base/public-nav-menu_a2c9bf88c3a420296fcdddf500caf38a.png) no-repeat;
    background-size: 125px 25px
}

.public-header-popup .header-popup-download .app-item .app-icon-1 {
    background-position: 0 0
}

.public-header-popup .header-popup-download .app-item .app-icon-2 {
    background-position: -25px 0
}

.public-header-popup .header-popup-download .app-item .app-icon-3 {
    background-position: -50px 0
}

.public-header-popup .header-popup-download .app-item .app-icon-4 {
    background-position: -75px 0
}

.public-header-popup .header-popup-download .app-item .app-icon-5 {
    background-position: -100px 0
}

.public-header-popup .header-popup-download .app-item:last-child {
    border-right-width: 0
}

.public-header-popup .header-popup-download .blank-p {
    -webkit-box-flex: 1;
    width: 0;
    padding-left: 13px
}

.public-header-popup .header-popup-download .blank-p:last-child {
    border-left: 1px solid transparent
}

.public-home-header .header-title {
    width: 100%;
    line-height: 44px;
    font-size: 17px;
    color: #000;
    text-align: center;
    overflow: hidden
}

.public-home-new-cover {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    top: 0
}

.public-header-popup-show {
    display: block
}

.public-navigator-container {
    display: none;
    height: auto;
    padding: 0 10px;
    background-color: #b50001;
    font-size: 1.5rem
}

.public-navigator-header {
    border-bottom: 1px solid #d91819;
    text-align: left;
    line-height: 42px;
    font-size: 1.7rem
}

.public-navigator-header-link {
    padding-right: 17px;
    color: #f5f5f5
}

.public-navigator-link {
    float: left;
    width: 25%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #f5f5f5
}

.public-breadcrumb-box {
    padding: 0 10px;
    height: 35px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #DDD
}

.public-breadcrumb {
    position: relative;
    width: 100%;
    height: 35px;
    overflow: hidden
}

.public-breadcrumb-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 1000px;
    height: 35px;
    font-size: 13px;
    line-height: 35px;
    color: #333
}

.public-breadcrumb .breadcrumb-split {
    float: left;
    margin: 0 5px;
    width: 11px;
    height: 35px;
    background: url(http://simg.f.itc.cn/static_files/wap/mobile/recreate/images/base/public-header-new_075df709117babcd544a7753e6ea7960.png) no-repeat;
    background-size: 100px 100px;
    background-position: -60px -60px
}

.public-breadcrumb .breadcrumb-item {
    float: left;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.public-breadcrumb .last-breadcrumb-item {
    color: #999
}

.public-breadcrumb-bottom {
    height: 42px;
    line-height: 42px;
    color: #999;
    background-color: #FFF;
    font-size: 16px;
    text-indent: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: 1px solid #ebebeb
}

.public-breadcrumb-bottom h1 {
    display: inline;
    font-style: none;
    font-weight: normal;
    font-size: 16px
}

.public-breadcrumb-bottom a {
    padding: 5px;
    color: #999
}

.public-breadcrumb-bottom .h_space1 {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 7px;
    height: 13px;
    text-indent: 10px;
    background: url(http://simg.f.itc.cn/static_files/wap/mobile/recreate/images/home/home-icons_ea0562babc18ac6666c3ae3210cde4e2.png) no-repeat;
    background-size: 260px 1000px;
    background-position: -123px -64px
}

.public-breadcrumb-bottom .link-actived {
    background-color: #e5e5e5;
    border-radius: 3px
}

.public-breadcrumb-bottom .cur-link {
    color: #333
}

.public-header .header-city-select {
    position: relative;
    display: block;
    color: #d91819;
    font-size: 1.6rem;
    height: 28px;
    line-height: 32px;
    margin: 0 8px 0 93px;
    color: #333
}

.public-header .header-city-icon {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 5px;
    vertical-align: 1px;
    background: url(http://simg.f.itc.cn/static_files/wap/mobile/recreate/images/base/arrow_down_28be33d9a5c1a6426e2d3fcbc2e90175.png) no-repeat;
    background-size: 13px 8px
}